version: '3.7'

services:

    wp:
        image: wordpress:php7.2-apache
        restart: always
        depends_on:
            - db
        env_file:
            - ../.env
        volumes:
            - $WORDPRESS_FILES:/var/www/html
        ports:
            - $LOCAL_WORDPRESS_PORT:80
        labels:
            traefik.frontend.rule: Host:${HOST:-rpwp.127.0.0.1.xip.io}
            traefik.enable: 'true'
            traefik.frontend.headers.STSSeconds: 31536000
            traefik.frontend.headers.STSIncludeSubdomains: 'true'

    db:
        image: mysql
        command: --default-authentication-plugin=mysql_native_password
        restart: always
        environment:
            MYSQL_DATABASE: $WORDPRESS_DB_NAME
            MYSQL_ROOT_PASSWORD: $WORDPRESS_DB_PASSWORD
        volumes:
            - $WORDPRESS_DB_FILES:/var/lib/mysql
